<div class="coin">
    <div class="coin-img">
        <img src="{{cryptoImage}}">
    </div>
    <div class="coin-info">
        <h1>Ethereum</h1>
        <p><span>Price: </span>${{price}}</p>
        <p><span>Payment: </span>{{payMethod}}</p>
    </div>

    <a href="/market/{{_id}}/details" class="btn-details">Details</a>
</div>